page-home {
    .background {
        background-image: url(../assets/imgs/medical.jpg);
        background-size: cover;
    }
    .react {
        margin: auto;
    }
    .react:active {
        text-decoration-line: underline;
        margin: auto;
        text-decoration-color: red;
        background-color: blue;
    }
    .middle {
        margin: auto;
    }
}

::-webkit-scrollbar {
    display: none;
}